
<div class="well">
  <h4>Dealer's Hand</h4>
  <% unless @show_dealer_second_card && session[:dealer_hand] %>
    <%= card_image ( session[:dealer_hand][0] )%>
    <%= "<img src='/images/cards/cover.jpg' class='card_image'/>" %>
  <% else %>
    <% session[:dealer_hand].each do |card| %>
        <%= card_image( card )%>
    <% end %>
  <% end %>

  <% if @show_dealer_hit_button%>
    <form method="post" action="/game/dealer/hit">
      <input id="hit_form" type="submit" class='btn btn-primary btn-large' value="Hit"/>
    </form>
    <br>
  <% end %>
</div>

<div class="well">
  <h4><%= session[:name] %>'s Hand</h4>
 <% if session[:player_hand] %>
    <% session[:player_hand].each do |card| %>
      <%= card_image( card )%>
    <% end %>
  <% end %>
</div>

<div class="hit_stay_buttons">
<% if @show_hit_or_stay_buttons %>
  <form method="post" action="/game/player/hit">
    <input id="hit_form" type="submit" class='btn btn-primary btn-large' value="Hit"/>
  </form>

  <form method="post" action="/game/player/stay">
    <input id="stay_form" type="submit" class='btn btn-warning btn-large' value="Stay"/>
  </form>
<% end %>
<br>

<% if @game_over %>
  <form method="get" action="/new_game">
    <input type="submit" class='btn btn-primary btn-large' value="New Game?"/>
  </form>
<% end %>

<br>

</div>


